name: 'Vue'
scopeName: 'text.html.vue'
type: 'tree-sitter'
parser: 'tree-sitter-vue'

fileTypes: ['vue']

injectionRegex: '^[Vv]ue$'

comments:
  start: '<!-- '
  end: ' -->'


scopes:
  'component': 'text.html.vue'

  # HTML scopes
  'tag_name': 'entity.name.tag.html'
  
  '''
  start_tag > "<",
  end_tag > "</" ,
  self_closing_tag > "<",
  ''': 'punctuation.definition.tag.begin.html'

  '''
  start_tag > ">",
  end_tag > ">",
  self_closing_tag > "/>"
  ''': 'punctuation.definition.tag.end.html'

  'attribute > quoted_attribute_value': 'string.quoted.html'

  'comment': 'comment.block.html'

  '''
  comment > "<!--",
  comment > "-->",
  ''': 'punctuation.definition.comment.html'

  '"<>"': 'invalid.illegal.incomplete.html'
  
  # Vue-Specific Syntax
  '''
  attribute_name,
  directive_name,
  directive_argument
  ''': 'entity.other.attribute-name.html'

  '''
  interpolation > "{{",
  interpolation > "}}"
  ''': 'meta.brace.curly.js'

